{% extends "portfolio-layout.html" %}
	
{% block content %}
	<!-- case specific custom -->
	<link itemprop="css" rel="stylesheet" href='{{ url_for("static", filename="css/case.css") }}'>
    <script src='{{ url_for("static", filename="js/case.js") }}'></script>

<div class="case">
	<div class="dark-bg">
		<h1>
		{% if request.path.startswith('/ua/') %} 
			Розробка сайту Cement.UA 
		{% elif request.path.startswith('/ru/')%}
			Разработка сайта Cement.UA
		{% else %}
			Cement.UA Case Study
		{% endif %}
		</h1>
		<a class="website-url" href="http://cement.digisol.agency/">cement.ua</a>
		<section class="contents">
			<div class="background" style="background-image: url({{ url_for('static', filename='img/portfolio/cement-bg.jpg') }})">
				<img src="{{ url_for('static', filename='img/logos/cement-full-logo.png') }}" class="logotype w15">
				<img src="{{ url_for('static', filename='img/portfolio/cement-sign.svg') }}" class="sign corner">
			</div>
		</section>
		<section class="desk" style="background-image: url({{ url_for('static', filename='img/portfolio/cement-desktop-bg.png') }});">
			
			{% if request.path.startswith('/ua/') %} 
				<h2>Десктоп</h2>
				<p>Дизайн сайту Cement.ua розроблений з урахуванням індустріальної області діяльності компанії. <br><br>Вона виражається в стриманій колірній гамі, що витримана в двох відтінках - фірмовому темно-бордовому і сірому. <br><br>Вертикальні строгі силуети - будівельну спрямованість і напрямок до зростання і разширення. <br><br>Цю концепцію доповнює велика кількість ховер-ефектів, які немов добудовують силует сайту.
				</p>
			{% elif request.path.startswith('/ru/')%}
				<h2>Десктоп</h2>
				<p>Дизайн сайта Cement.ua разработан с учетом индустриальной области деятельности компании. <br><br>Сдержанность выражается в строгой цветовой гамме, выдержанной в двух оттенках - фирменном тёмно-бордовом и сером. <br><br>Вертикальные строгие силуэты - строительную направленность и направление к росту и разширению. <br><br>Эту концепцию дополняет большое количество ховер-эффектов, словно достраювающих силует сайта. </p>
			{% else %}
				<h2>Desktop</h2>
				<p>Cement.ua website design was developed taking into account the industrial area of the company. <br><br>Restraint is expressed in a strict color scheme, sustained in two shades - signature dark maroon and gray. <br><br>Vertical strict silhouettes - a building orientation and a direction to growth and expansion. <br><br>This concept is complemented by a large number of hover effects, as if completing the site’s strengths.</p>
			{% endif %}
			<img src="{{ url_for('static', filename='img/portfolio/cement-desktop.png') }}" alt="" class="top-lift">
		</section>
		<section class="mob right" style="background-image: url({{ url_for('static', filename='img/portfolio/cement-mobile-bg.png') }});">
			
			{% if request.path.startswith('/ua/') %} 
				<h2>Мобільні пристрої</h2>
				<p>Мобільна версія сайту оптимізує його для перегляду на вертикальних екранах, при цьому залишаючи концепцію незмінною - збережена строга блокова архітектура і велика кількість тап-ефектів.</p>
			{% elif request.path.startswith('/ru/')%}
				<h2>Мобильные устройства</h2>
				<p>Мобильная версия сайта оптимизирует его для просмотра на вертикальных экранах, при этом оставляя концепцию неизменной - сохранена строгая блочная архитектура и большое количество тап-эффектов.</p>
			{% else %}
				<h2>Mobile</h2>
				<p>The mobile version of the site optimizes it for viewing on vertical screens, while leaving the concept unchanged - a strict block architecture and a large number of tap effects are preserved.</p>
			{% endif %}
			<img src="{{ url_for('static', filename='img/portfolio/cement-mobile.png') }}" alt="" class="top-lift">
		</section>
		<section class="technologies">
			<div class="wrapper">
				<img src="{{ url_for('static', filename='img/technologies/html5.svg') }}" alt="">
				<p>HTML5</p>
			</div>
			<div class="wrapper">
				<img src="{{ url_for('static', filename='img/technologies/css3.svg') }}" alt="">
				<p>CSS3</p>
			</div>
			<div class="wrapper">
				<img src="{{ url_for('static', filename='img/technologies/python.svg') }}" alt="">
				<p>Python</p>
			</div>
			<div class="wrapper">
				<img src="{{ url_for('static', filename='img/technologies/django.svg') }}" alt="">
				<p>Django</p>
			</div>
			<div class="wrapper">
				<img src="{{ url_for('static', filename='img/technologies/js.svg') }}" alt="">
				<p>JavaScript</p>
			</div>
			<div class="wrapper">
				<img src="{{ url_for('static', filename='img/technologies/jquery.svg') }}" alt="">
				<p>jQuery</p>
			</div>
			<div class="wrapper">
				<img src="{{ url_for('static', filename='img/technologies/ajax.svg') }}" alt="">
				<p>AJAX</p>
			</div>
			<div class="wrapper">
				<img src="{{ url_for('static', filename='img/technologies/nginx.svg') }}" alt="">
				<p>NGINX</p>
			</div>
			<div class="wrapper">
				<img src="{{ url_for('static', filename='img/technologies/figma.svg') }}" alt="">
				<p>Figma</p>
			</div>
			<div class="wrapper">
				<img src="{{ url_for('static', filename='img/technologies/cloudflare.svg') }}" alt="">
				<p>Cloudflare</p>
			</div>
		</section>
		<section class="other-projects">
			{% if request.path.startswith('/ru') %} 
				<h3>Другие проекты</h3>
			{% elif request.path.startswith('/ua')%}
				<h3>Інші проекти</h3>
			{% else %}
				<h3>Other projects</h3>
			{% endif %}
			 <div id="projects-grid">
                <div class="project-link">
                    <img src="{{ url_for('static', filename='img/portfolio/thumbnails/nof-bg.png') }}" alt="" class="bg">
                    <img src="{{ url_for('static', filename='img/logos/nof_logo_full.svg') }}" class="logo nof">
                    <h4>Not Only Fish</h4>
                    {% if request.path.startswith('/ru') %} 
						<p>ДИЗАЙН/РАЗРАБОТКА/SEO</p>
                    	<a href="{{ url_for('nof_ru') }}">Посмотреть проект</a>
					{% elif request.path.startswith('/ua')%}
                    	<p>ДИЗАЙН/РОЗРОБКА/SEO</p>
                    	<a href="{{ url_for('nof_ua') }}">Переглянути проект</a>
					{% else %}
                    	<p>DESIGN/DEVELOPMENT/SEO</p>
                    	<a href="{{ url_for('nof') }}">Browse Project</a>
					{% endif %}
                </div>

                <div class="project-link light">
                    <img src="{{ url_for('static', filename='img/portfolio/thumbnails/uapol-bg.png') }}" alt="" class="bg">
                    <img src="{{ url_for('static', filename='img/logos/up-logo-symbol.png') }}" class="logo up w30">
                    <h4>UPFoundation</h4>
                    {% if request.path.startswith('/ru') %} 
						<p>ДИЗАЙН/РАЗРАБОТКА/SEO</p>
                    	<a href="{{ url_for('upf_ru') }}">Посмотреть проект</a>
					{% elif request.path.startswith('/ua')%}
                    	<p>ДИЗАЙН/РОЗРОБКА/SEO</p>
                    	<a href="{{ url_for('upf_ua') }}">Переглянути проект</a>
					{% else %}
                    	<p>DESIGN/DEVELOPMENT/SEO</p>
                    	<a href="{{ url_for('upf') }}">Browse Project</a>
					{% endif %}
                </div>

                <div class="project-link">
                    <img src="{{ url_for('static', filename='img/portfolio/thumbnails/ke-bg.png') }}" class="bg">
                    <img src="{{ url_for('static', filename='img/logos/exclusive-logo.svg') }}" class="logo">
                    <h4>Kyiv Exclusive</h4>
                    {% if request.path.startswith('/ru') %} 
						<p>ДИЗАЙН/РАЗРАБОТКА/SEO</p>
                    	<a href="{{ url_for('kyiv_exclusive_ru') }}">Посмотреть проект</a>
					{% elif request.path.startswith('/ua')%}
                    	<p>ДИЗАЙН/РОЗРОБКА/SEO</p>
                    	<a href="{{ url_for('kyiv_exclusive_ua') }}">Переглянути проект</a>
					{% else %}
                    	<p>DESIGN/DEVELOPMENT/SEO</p>
                    	<a href="{{ url_for('kyiv_exclusive') }}">Browse Project</a>
					{% endif %}
                </div>
			</div>
		</section>
	</div>
</div>
{% endblock content %}
