{% extends "content/layout.html" %}
{% load static %}
{% load class_tags %}
{% block body %}
<body>
    <!-- Mobile menu -->
    <div id="mobile-menu" class="mobile" style="-webkit-transform:translate(-100%)">
        <ul>
            <li class="active">
                <a href="#slider">MAIN PAGE</a>
            </li>
            <li>
                <a href="#about-us">ABOUT US</a>
            </li>
            <li>
                <a href="#services">SERVICES</a>
            </li>
            <li>
                <a href="#portfolio">PORTFOLIO</a>
            </li>
            <li>
                <a href="#" id="#cont-mobile" class="no-smooth-scroll">CONTACT</a>
            </li>
        </ul>
        <a href="/ru" id="changelang">RU</a>
        <br>
        <a href="/ua" id="changelang">UA</a>
    </div>
    <!-- /Mobile menu -->

    <!-- slides stuff -->
    <div class="main">
        <section id="slider">
            <nav id="menu">
                <a href="/ru" class="desktop opaque" id="changelang_first">RU</a>
                <a href="/ua" class="desktop opaque" id="changelang_second">UA</a>
                <a href="/" id="stringlogo" class="opaque">
                    digisol agency
                </a>
                <div class="desktop-menu desktop opaque">
                    <ul>
                        {% if lang == 'ua' %} 
                            <li class="with-hover">
                                <a href="#about-us">про нас</a>
                                <i class="hover-line"></i>
                            </li>
                            <li class="with-hover">
                                <a href="#services">послуги</a>
                                <i class="hover-line"></i>
                            </li>
                            <li class="with-hover">
                                <a href="#portfolio">портфоліо</a>
                                <i class="hover-line"></i>
                            </li>
                        {% elif lang == 'ru'%}
                            <li class="with-hover">
                                <a href="#about-us">О нас</a>
                                <i class="hover-line"></i>
                            </li>
                            <li class="with-hover">
                                <a href="#services">услуги</a>
                                <i class="hover-line"></i>
                            </li>
                            <li class="with-hover">
                                <a href="#portfolio">портфолио</a>
                                <i class="hover-line"></i>
                            </li>
                        {% else %}
                            <li class="with-hover">
                                <a href="#about-us">About Us</a>
                                <i class="hover-line"></i>
                            </li>
                            <li class="with-hover">
                                <a href="#services">Services</a>
                                <i class="hover-line"></i>
                            </li>
                            <li class="with-hover">
                                <a href="#portfolio">Portfolio</a>
                                <i class="hover-line"></i>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="topnav-right">
                    {% if lang == 'ua' %} 
                        <a id="cont" class="opaque">ЗВ'ЯЗАТИСЬ</a>
                    {% elif lang == 'ru'%}
                        <a id="cont" class="opaque">СВЯЗАТЬСЯ</a>
                    {% else %}
                        <a id="cont" class="opaque">CONTACT US</a>
                    {% endif %}
                    <a id="mobile-menu-burger" class="mobile close">
                        <img src="{% static 'content/img/burger.png' %}" alt="menu burger">
                    </a>
                </div>
            </nav>
            <!-- LOGO IMAGE -->
            <div id="title_main">
                <a href="#" class=".scroll-down"><img src="{% static 'content/img/digisol-d.png' %}" id="logo" class="opaque"></a>
            </div>
            <!-- COPYRIGHT -->
            <div id="slider-footer" class="opaque">
                {{ slider.copyright }}
            </div>
            <!-- ARROW DOWN -->
            <a id="scroll-down" class="desktop opaque">
                <img src="{% static 'content/img/down-angle.png' %}" alt="">
            </a>   
        </section>
        <section id="about-us">
            <div class="dark-bg" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-id="about-us">
                <div class="halfs-row">
                    <!-- ABOUT US TEXT -->
                    {% if lang == 'ua' %} 
                        <div class="halfblock fromtop-animation" data-aos="fade-down" data-aos-delay="400" data-aos-duration="800">
                            <h2>{{ about_us.title_ua }}</h2>
                            <img src="{% static 'content/img/gradient-line.png' %}" alt="line" class="gradline">
                                {{ about_us.text_ua|add_class:"halftext description" }}
                            <div class="halftext center-text-mobile round-btn">
                                <a href="#services">
                                    {{ about_us.button_ua }}
                                </a>
                            </div>
                        </div>
                    {% elif lang == 'ru'%}
                        <div class="halfblock fromtop-animation" data-aos="fade-down" data-aos-delay="400" data-aos-duration="800">
                            <h2>{{ about_us.title_ru }}</h2>
                            <img src="{% static 'content/img/gradient-line.png' %}" alt="line" class="gradline">
                                {{ about_us.text_ru|add_class:"halftext description" }}
                            <div class="halftext center-text-mobile round-btn">
                                <a href="#services">
                                    {{ about_us.button_ru }}
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="halfblock fromtop-animation" data-aos="fade-down" data-aos-delay="400" data-aos-duration="800">
                            <h2>{{ about_us.title }}</h2>
                            <img src="{% static 'content/img/gradient-line.png' %}" alt="line" class="gradline">
                                {{ about_us.text|add_class:"halftext description" }}
                            <div class="halftext center-text-mobile round-btn">
                                <a href="#services">
                                    {{ about_us.button }}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    

                    <!-- OUR BLOG TEXT -->
                    <div class="halfblock fromtop-animation" data-aos="fade-down" data-aos-delay="450" data-aos-duration="800">
                        <h2>Our Blog</h2>
                        <img src="{% static 'content/img/gradient-line.png' %}" alt="line" class="gradline">
                        <p class="halftext description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac eleifend eros, eget eleifend est. Proin venenatis faucibus massa, ac tempor enim venenatis sed. Cras dolor ante, ullamcorper ac felis at, viverra venenatis quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac eleifend eros, eget eleifend est. Proin venenatis faucibus massa.</p>
                            <div class="halftext center-text-mobile round-btn">
                                <a href="#">
                                    Read more
                                </a>
                            </div>
                    </div>
                </div>

                <div id="progress-block">
                    {% if lang == 'ua' %}
                        <div class="agile" data-aos="fade-down" data-aos-delay="450" data-aos-duration="1000">
                            <h4>{{ about_us.subtitle_ua }}</h4>
                            <p>{{ about_us.subtext_ua }}</p>
                        </div>
                        <div id="progress-steps">
                            <div class="step">
                                <div class="numba">
                                    <div></div>
                                    <span>1</span>
                                </div>
                                <div class="step-text">
                                    <h5 data-aos="fade-down" data-aos-delay="1500" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom"><h4>{{ about_us.step1_title_ua }}</h4></h5>
                                    <p data-aos="fade-down" data-aos-delay="1700" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step1_text_ua }}</p>
                                </div>
                            </div>
                            <div class="step">
                                <div class="numba">
                                    <div></div>
                                    <span>2</span>
                                </div>
                                <div class="step-text">
                                    <h5 data-aos="fade-down" data-aos-delay="1800" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step2_title_ua }}</h5>
                                    <p data-aos="fade-down" data-aos-delay="2000" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step2_text_ua }}</p>
                                </div>
                            </div>
                            <div class="step">
                                <div class="numba">
                                    <div></div>
                                    <span>3</span>
                                </div>
                                <div class="step-text">
                                    <h5 data-aos="fade-down" data-aos-delay="2100" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step3_title_ua }}</h5>
                                    <p data-aos="fade-down" data-aos-delay="2300" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step3_text_ua }}</p>
                                </div>
                            </div>
                            <div class="step">
                                <div class="numba">
                                    <div></div>
                                    <span>4</span>
                                </div>
                                <div class="step-text">
                                    <h5 data-aos="fade-down" data-aos-delay="2400" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step4_title_ua }}</h5>
                                    <p data-aos="fade-down" data-aos-delay="2600" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step4_text_ua }}</p>
                                </div>
                            </div>
                        </div>
                    {% elif lang == 'ru'%}
                        <div class="agile" data-aos="fade-down" data-aos-delay="450" data-aos-duration="1000">
                            <h4>{{ about_us.subtitle_ru }}</h4>
                            <p>{{ about_us.subtext_ru }}</p>
                        </div>
                        <div id="progress-steps">
                            <div class="step">
                                <div class="numba">
                                    <div></div>
                                    <span>1</span>
                                </div>
                                <div class="step-text">
                                    <h5 data-aos="fade-down" data-aos-delay="1500" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step1_title_ru }}</h5>
                                    <p data-aos="fade-down" data-aos-delay="1700" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step1_text_ru }}</p>
                                </div>
                            </div>
                            <div class="step">
                                <div class="numba">
                                    <div></div>
                                    <span>2</span>
                                </div>
                                <div class="step-text">
                                    <h5 data-aos="fade-down" data-aos-delay="1800" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step2_title_ru }}</h5>
                                    <p data-aos="fade-down" data-aos-delay="2000" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step2_text_ru }}</p>
                                </div>
                            </div>
                            <div class="step">
                                <div class="numba">
                                    <div></div>
                                    <span>3</span>
                                </div>
                                <div class="step-text">
                                    <h5 data-aos="fade-down" data-aos-delay="2100" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step3_title_ru }}</h5>
                                    <p data-aos="fade-down" data-aos-delay="2300" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step3_text_ru }}</p>
                                </div>
                            </div>
                            <div class="step">
                                <div class="numba">
                                    <div></div>
                                    <span>4</span>
                                </div>
                                <div class="step-text">
                                    <h5 data-aos="fade-down" data-aos-delay="2400" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step4_title_ru }}</h5>
                                    <p data-aos="fade-down" data-aos-delay="2600" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step4_text_ru }}</p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="agile" data-aos="fade-down" data-aos-delay="450" data-aos-duration="1000">
                            <h4>{{ about_us.subtitle }}</h4>
                            <p>{{ about_us.subtext }}</p>
                        </div>
                        <div id="progress-steps">
                            <div class="step">
                                <div class="numba">
                                    <div></div>
                                    <span>1</span>
                                </div>
                                <div class="step-text">
                                    <h5 data-aos="fade-down" data-aos-delay="1500" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step1_title }}</h5>
                                    <p data-aos="fade-down" data-aos-delay="1700" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step1_text }}</p>
                                </div>
                            </div>
                            <div class="step">
                                <div class="numba">
                                    <div></div>
                                    <span>2</span>
                                </div>
                                <div class="step-text">
                                    <h5 data-aos="fade-down" data-aos-delay="1800" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step2_title }}</h5>
                                    <p data-aos="fade-down" data-aos-delay="2000" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step2_text }}</p>
                                </div>
                            </div>
                            <div class="step">
                                <div class="numba">
                                    <div></div>
                                    <span>3</span>
                                </div>
                                <div class="step-text">
                                    <h5 data-aos="fade-down" data-aos-delay="2100" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step3_title }}</h5>
                                    <p data-aos="fade-down" data-aos-delay="2300" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step3_text }}</p>
                                </div>
                            </div>
                            <div class="step">
                                <div class="numba">
                                    <div></div>
                                    <span>4</span>
                                </div>
                                <div class="step-text">
                                    <h5 data-aos="fade-down" data-aos-delay="2400" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step4_title }}</h5>
                                    <p data-aos="fade-down" data-aos-delay="2600" data-aos-duration="1000" data-aos-anchor="#progress-block" data-aos-anchor-placement="bottom-bottom">{{ about_us.step4_text }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </div>
        </section>

        <section id="services">
            <div class="dark-bg" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-id="services">
                <div class="fromtop-animation" data-aos="fade-down" data-aos-delay="400" data-aos-duration="800">
                    {% if lang == 'ua' %} 
                        <h2>Наші послуги</h2>
                    {% elif lang == 'ru'%}
                        <h2>Наши Услуги</h2>
                    {% else %}
                        <h2>Our Services</h2>
                    {% endif %}
                    <img src="{% static 'content/img/gradient-line.png' %}" alt="line" class="gradline">
                </div>

                <div class="services-icons">
                    <div class="service">
                        <img src="{% static 'content/img/service1.svg' %}">
                        {% if lang == 'ua' %} 
                            <h5>Website development</h5>
                            <p>We create pixel-perfect web-based internet apps, e-commerce sites, and social networks to give your customers more than they expect from you.</p>
                            <a href="">CONTACT US</a>
                        {% elif lang == 'ru'%}
                            <h5>Website development</h5>
                            <p>We create pixel-perfect web-based internet apps, e-commerce sites, and social networks to give your customers more than they expect from you.</p>
                            <a href="">CONTACT US</a>
                        {% else %}
                            <h5>Website development</h5>
                            <p>We create pixel-perfect web-based internet apps, e-commerce sites, and social networks to give your customers more than they expect from you.</p>
                            <a href="">CONTACT US</a>
                        {% endif %}
                        
                    </div>
                    <div class="service">
                        <img src="{% static 'content/img/service2.svg' %}">
                        <h5>SEO/SMM</h5>
                        <p>Social media management involves so much more than just publishing content. Brands need to utilise these channels to tell their story and engage with their audience.</p>
                        <a href="">CONTACT US</a>
                    </div>
                    <div class="service">
                        <img src="{% static 'content/img/service3.svg' %}">
                        <h5>Identics</h5>
                        <p>We make high-quality visual designs—from concept to execution. Create and iterate on assets that reflect a brand, enforce a language, and inject beauty and life into a product.</p>
                        <a href="">CONTACT US</a>
                    </div>
                    <div class="service">
                        <img src="{% static 'content/img/service4.svg' %}">
                        <h5>Website development</h5>
                        <p>We create pixel-perfect web-based internet apps, e-commerce sites, and social networks to give your customers more than they expect from you.</p>
                        <a href="">CONTACT US</a>
                    </div>
                </div>
                
                {% if lang == 'ua' %} 
                    <h3 data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000" >Наші клієнти</h3>
                {% elif lang == 'ru'%}
                    <h3 data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000" >Наши клиенты</h3>
                {% else %}
                    <h3 data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000" >Our clients</h3>
                {% endif %}
                <div id="clients">
                    <div class="imgrow">
                        {% for client in clients|slice:":4" %}
                        <img class="client_logo child0 displayed-logo" data-aos="fade-right" data-aos-delay="{{ client.delay }}" data-aos-duration="1000" src="{{ client.image.url }}" data-aos-anchor="#clients">
                        {% endfor %}
                    </div>
                    <div class="imgrow">
                        {% for client in clients|slice:"4:" %}
                        <img class="client_logo child0 displayed-logo" data-aos="fade-right" data-aos-delay="{{ client.delay }}" data-aos-duration="1000" src="{{ client.image.url }}" data-aos-anchor="#clients">
                        {% endfor %}
                    </div>
                </div>
                <a class="cl-prev mobile">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="cl-next mobile">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </section>

        <section id="portfolio">
            <div class="portfolio-bg" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-id="portfolio">
                
                {% if lang == 'ua' %} 
                    <h2>Наші роботи</h2>
                {% elif lang == 'ru'%}
                    <h2>Наши работы</h2>
                {% else %}
                    <h2>Our works</h2>
                {% endif %}
                <img src="{% static 'content/img/gradient-line.png' %}" alt="line" class="gradline">
                <div id="projects-grid">

                    <div class="project-link">
                        <img src="{% static 'content/img/portfolio/thumbnails/ke-bg.png' %}" class="bg">
                        <img src="{% static 'content/img/logos/exclusive-logo.svg' %}" class="logo">
                        <h4>Kyiv Exclusive</h4>
                        <p>DESIGN/DEVELOPMENT/SEO</p>
                        <a href="#">Browse Project</a>
                    </div>

                    <div class="project-link empty">
                        <h4>Project Name</h4>
                        <p>DESIGN/DEVELOPMENT/SEO</p>
                        <a href="#">Browse Project</a>
                    </div>

                    <div class="project-link">
                        <img src="{% static 'content/img/portfolio/thumbnails/nof-bg.png' %}" alt="" class="bg">
                        <img src="{% static 'content/img/logos/nof_logo_full.svg' %}" class="logo nof">
                        <h4>Not Only Fish</h4>
                        <p>DESIGN/DEVELOPMENT/SEO</p>
                        <a href="#">Browse Project</a>
                    </div>

                    <div class="project-link empty">
                        <h4>Project Name</h4>
                        <p>DESIGN/DEVELOPMENT/SEO</p>
                        <a href="#">Browse Project</a>
                    </div>

                    <div class="project-link empty">
                        <img src="{% static 'content/img/portfolio/thumbnails/bari-bg.png' %}" alt="" class="bg">
                        <img src="{% static 'content/img/logos/bari-logo-tall.png' %}" class="logo up w30">
                        <h4>Project Name</h4>
                        <p>DESIGN/DEVELOPMENT/SEO</p>
                        <a href="#">Browse Project</a>
                    </div>

                    <div class="project-link light">
                        <img src="{% static 'content/img/portfolio/thumbnails/uapol-bg.png' %}" alt="" class="bg">
                        <img src="{% static 'content/img/logos/up-logo-symbol.png' %}" class="logo up w30">
                        <h4>UPFoundation</h4>
                        <p>DESIGN/DEVELOPMENT/SEO</p>
                        <a href="#">Browse Project</a>
                    </div>
                    
                    
                    <div class="project-link empty">
                        <h4>Project Name</h4>
                        <p>DESIGN/DEVELOPMENT/SEO</p>
                        <a href="#">Browse Project</a>
                    </div>

                    <div class="project-link">
                        <img src="{% static 'content/img/portfolio/thumbnails/cement-bg.jpg' %}" alt="" class="bg">
                        <img src="{% static 'content/img/logos/cement-full-logo.png' %}" class="logo up w30">
                        <h4>Cement UA</h4>
                        <p>DESIGN/DEVELOPMENT/SEO</p>
                        <a href="#">Browse Project</a>
                    </div>
                </div>
            </div>
        </section>
        <nav id="menu" class="footer-menu">
            <a href="/" id="stringlogo" >
                digisol agency
            </a>
        </nav>
    </div>
    <!-- always reset page scroll during reload -->
    <script>history.scrollRestoration = "manual"</script>
</body>
{% endblock body %}
